<p>about works!</p>
<ul>
 <li> Create a Parent application
  Should have a dashboard screen with links to child apps
  Route configs 2 child apps</li>

  <li>Create 2 more child applications using Angular Library
  Each app should contain its own Routing</li>

  <li>Child apps should be integrated into parent application as packages using package.json</li>

  <li>Style sheets should be loaded on demand
    If I access Child app 1, then only stylesheet specific to that app should load. Likewise for app 2 </li>

  <li>Navigation between parent and child apps should be seamless just like regular Angular SPA app.</li>

  <li>Create code to dynamically up / down application based on API data. Eg: We have to show some message to user dynamically based on API data</li>
  
  <li>For a application with Parent & Child structure, we should be able to up/down whole application or any specific application by modifying config in API response. </li>
  </ul>
